

#jj{
    width: 800px;
    margin:50px auto;
    padding-left:50px;
    border:4px solid brown;
    background-color: #f3e8d0;
   
    
}
.A{
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f3e8d0;
}
h2{
    text-align: center;
    border: 3px solid brown;
    border-radius: 20px;
    color: #7a673c;
    margin: 10px auto;
    padding: 5px;
}
.B{
    
    color:#7a4a21;
    
}
.C{
    width: 250px;
    background-color: #f9dca6;
    border: 2px solid hsl(0, 0%, 80%);
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
   
}
.C img{
    width:120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom:50px ;
}
.D{
    width: 120px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    background-color:#1877f2;
}